In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import matplotlib.pyplot as plt

In [6]:
s = pd.Series([1,3,5,np.nan,6,8])

In [7]:
s

0     1
1     3
2     5
3   NaN
4     6
5     8
dtype: float64

In [8]:
dates = pd.date_range('20130101', periods=6)

In [9]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [11]:
df

                   A         B         C         D
2013-01-01  0.429137 -1.289301 -0.935280  0.816830
2013-01-02  0.115562 -0.362019 -0.021283 -0.624672
2013-01-03 -0.916994 -1.960634 -0.884568 -1.438190
2013-01-04  0.181768  1.243055 -0.648292 -0.434343
2013-01-05 -0.020252  0.665768  1.086534 -1.004376
2013-01-06  1.272431 -1.019396 -1.717473 -0.818538

In [12]:
?np.random.randn

In [14]:
 df2 = pd.DataFrame({'A':1.,
                    'B':pd.Timestamp('20130102'),
                    'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D':np.array([3]*4,dtype='int32'),
                    'E':pd.Categorical(['test','train','test','train']),
                    'F':'foo'})

In [15]:
df2

   A          B  C  D      E    F
0  1 2013-01-02  1  3   test  foo
1  1 2013-01-02  1  3  train  foo
2  1 2013-01-02  1  3   test  foo
3  1 2013-01-02  1  3  train  foo

In [16]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [17]:
import os

In [18]:
!pwd

/Users/student/desktop/python-novice-inflammation/data

In [23]:
In_file = open('Users/student/Documents/Dorset Minterne Magna Data Cleaning.csv','r')

FileNotFoundError: [Errno 2] No such file or directory: 'Users/student/Documents/Dorset Minterne Magna Data Cleaning.csv'

In [28]:
cd /Users/student/Documents/

/Users/student/Documents

In [31]:
import csv
with open('Dorset Minterne Magna Data Cleaning.csv') as f:
    reader = csv.reader(f)
    for row in reader:
        print(row[0])

[' DATE NAME ; FATHER ; MOTHER ; NOTES']
['1718 Aug 2 Honour1 SANSOME ; Thomas; [blank]']
['1718 July 31 Thomas1 WEST ; Thomas; [blank]']
['1719 April 28 William1 DRAKE ; John; Dorothea']
['1719 May 28 Hannah1 HOLMES ; John; [blank]']
['1719 Aug 21 John1 BATEA ; Thomas; [blank]']
['1719 Oct 9 Mary1 FRAMPTON ; William; Elizabeth']
['1719 Dec 1 Sarah1 RYALL ; Bright; Margarett']
[]

In [32]:
reader

In [34]:
import csv
with open('Dorset Minterne Magna Data Cleaning.csv') as f:
  reader = csv.reader(f)
  for row in reader:
    print(row[0])

 DATE NAME ; FATHER ; MOTHER ; NOTES
1718 Aug 2 Honour1 SANSOME ; Thomas; [blank]
1718 July 31 Thomas1 WEST ; Thomas; [blank]
1719 April 28 William1 DRAKE ; John; Dorothea
1719 May 28 Hannah1 HOLMES ; John; [blank]
1719 Aug 21 John1 BATEA ; Thomas; [blank]
1719 Oct 9 Mary1 FRAMPTON ; William; Elizabeth
1719 Dec 1 Sarah1 RYALL ; Bright; Margarett

IndexError: list index out of range

In [35]:
import csv
with open('Dorset Minterne Magna Data Cleaning.csv') as f:
  reader = csv.reader(f)
  for row in reader:
    print(row[0].split(';'))

[' DATE NAME ', ' FATHER ', ' MOTHER ', ' NOTES']
['1718 Aug 2 Honour1 SANSOME ', ' Thomas', ' [blank]']
['1718 July 31 Thomas1 WEST ', ' Thomas', ' [blank]']
['1719 April 28 William1 DRAKE ', ' John', ' Dorothea']
['1719 May 28 Hannah1 HOLMES ', ' John', ' [blank]']
['1719 Aug 21 John1 BATEA ', ' Thomas', ' [blank]']
['1719 Oct 9 Mary1 FRAMPTON ', ' William', ' Elizabeth']
['1719 Dec 1 Sarah1 RYALL ', ' Bright', ' Margarett']

IndexError: list index out of range

In [37]:
import csv
with open('Dorset Minterne Magna Data Cleaning.csv') as f:
  reader = csv.reader(f)
  myNewData = []
  for row in reader:
    myNewData.append(row[0].split(';'))
    print(row[0].split(';'))

[' DATE NAME ', ' FATHER ', ' MOTHER ', ' NOTES']
['1718 Aug 2 Honour1 SANSOME ', ' Thomas', ' [blank]']
['1718 July 31 Thomas1 WEST ', ' Thomas', ' [blank]']
['1719 April 28 William1 DRAKE ', ' John', ' Dorothea']
['1719 May 28 Hannah1 HOLMES ', ' John', ' [blank]']
['1719 Aug 21 John1 BATEA ', ' Thomas', ' [blank]']
['1719 Oct 9 Mary1 FRAMPTON ', ' William', ' Elizabeth']
['1719 Dec 1 Sarah1 RYALL ', ' Bright', ' Margarett']

IndexError: list index out of range

In [39]:
for element in myNewData:
    print(element[0])

 DATE NAME
1718 Aug 2 Honour1 SANSOME
1718 July 31 Thomas1 WEST
1719 April 28 William1 DRAKE
1719 May 28 Hannah1 HOLMES
1719 Aug 21 John1 BATEA
1719 Oct 9 Mary1 FRAMPTON
1719 Dec 1 Sarah1 RYALL

In [40]:
firstCols = 'year month day childFirstName childLastName'

In [41]:
myNewData

[[' DATE NAME ', ' FATHER ', ' MOTHER ', ' NOTES'],
 ['1718 Aug 2 Honour1 SANSOME ', ' Thomas', ' [blank]'],
 ['1718 July 31 Thomas1 WEST ', ' Thomas', ' [blank]'],
 ['1719 April 28 William1 DRAKE ', ' John', ' Dorothea'],
 ['1719 May 28 Hannah1 HOLMES ', ' John', ' [blank]'],
 ['1719 Aug 21 John1 BATEA ', ' Thomas', ' [blank]'],
 ['1719 Oct 9 Mary1 FRAMPTON ', ' William', ' Elizabeth'],
 ['1719 Dec 1 Sarah1 RYALL ', ' Bright', ' Margarett']]

In [42]:
myNewData[0]

[' DATE NAME ', ' FATHER ', ' MOTHER ', ' NOTES']

In [43]:
myNewData[0][0]

' DATE NAME '

In [44]:
myNewData[0][0]=firstCols

In [45]:
myNewData

[['year month day childFirstName childLastName',
  ' FATHER ',
  ' MOTHER ',
  ' NOTES'],
 ['1718 Aug 2 Honour1 SANSOME ', ' Thomas', ' [blank]'],
 ['1718 July 31 Thomas1 WEST ', ' Thomas', ' [blank]'],
 ['1719 April 28 William1 DRAKE ', ' John', ' Dorothea'],
 ['1719 May 28 Hannah1 HOLMES ', ' John', ' [blank]'],
 ['1719 Aug 21 John1 BATEA ', ' Thomas', ' [blank]'],
 ['1719 Oct 9 Mary1 FRAMPTON ', ' William', ' Elizabeth'],
 ['1719 Dec 1 Sarah1 RYALL ', ' Bright', ' Margarett']]

In [46]:
for index,value in enumerate(myNewData):
    myNewData[index]=value[0].split(' ')

In [47]:
myNewData

[['year', 'month', 'day', 'childFirstName', 'childLastName'],
 ['1718', 'Aug', '2', 'Honour1', 'SANSOME', ''],
 ['1718', 'July', '31', 'Thomas1', 'WEST', ''],
 ['1719', 'April', '28', 'William1', 'DRAKE', ''],
 ['1719', 'May', '28', 'Hannah1', 'HOLMES', ''],
 ['1719', 'Aug', '21', 'John1', 'BATEA', ''],
 ['1719', 'Oct', '9', 'Mary1', 'FRAMPTON', ''],
 ['1719', 'Dec', '1', 'Sarah1', 'RYALL', '']]

In [48]:
myNewData[0]

['year', 'month', 'day', 'childFirstName', 'childLastName']

In [49]:
myNewData[0][0]

'year'

In [50]:
myNewData[0][1]

'month'

In [51]:
myNewData

[['year', 'month', 'day', 'childFirstName', 'childLastName'],
 ['1718', 'Aug', '2', 'Honour1', 'SANSOME', ''],
 ['1718', 'July', '31', 'Thomas1', 'WEST', ''],
 ['1719', 'April', '28', 'William1', 'DRAKE', ''],
 ['1719', 'May', '28', 'Hannah1', 'HOLMES', ''],
 ['1719', 'Aug', '21', 'John1', 'BATEA', ''],
 ['1719', 'Oct', '9', 'Mary1', 'FRAMPTON', ''],
 ['1719', 'Dec', '1', 'Sarah1', 'RYALL', '']]