In [1]:
#American time use survey
#http://www.bls.gov/tus/#tables
import pandas as pd

In [20]:
#american time use survey has multiple sheets, one for each year
atu_path = 'data/a2_all_years.xlsx'
#lets look first at 2013
df = pd.read_excel(atu_path, '2003')

In [21]:
#lets view first few lines
df.head()

,"Table A-2. Time spent in detailed primary activities 1 and percent of the civilian population engaging in each detailed primary activity category, averages per day by sex on weekdays and weekends, 2003 annual averages",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Activity,"Average hours per day, civilian population",NaN,Average percent engaged in the activity per day,NaN,Average hours per day for persons who engaged ...,NaN
1,NaN,Weekdays,Weekends and holidays 2,Weekdays,Weekends and holidays 2,Weekdays,Weekends and holidays 2
2,Total,NaN,NaN,NaN,NaN,NaN,NaN
3,"Total, all activities",24,24,100,100,--,--
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#header parsed badly, so let's fix
#data we want is in lines 4-93, headers are in 1, so
pd.read_excel?

In [30]:
#row 2 has column titles
pd.read_excel(atu_path,'2003', header=2 ).head()#0

,Weekdays,Weekends and holidays 2,Weekdays.1,Weekends and holidays 2.1,Weekdays.2,Weekends and holidays 2.2
Total,NaN,NaN,NaN,NaN,NaN,NaN
"Total, all activities",24.00,24.00,100.0,100.0,--,--
NaN,NaN,NaN,NaN,NaN,NaN,NaN
Personal care activities,9.05,10.03,100.0,100.0,9.05,10.04
Sleeping,8.26,9.29,99.9,99.9,8.28,9.3

In [41]:
#what happened? 0 based indexing!
df = pd.read_excel(atu_path,'2003', header=1 ) #we'll fix column names later
df.head()

,Activity,"Average hours per day, civilian population",Unnamed: 2,Average percent engaged in the activity per day,Unnamed: 4,Average hours per day for persons who engaged in the activity,Unnamed: 6
0,NaN,Weekdays,Weekends and holidays 2,Weekdays,Weekends and holidays 2,Weekdays,Weekends and holidays 2
1,Total,NaN,NaN,NaN,NaN,NaN,NaN
2,"Total, all activities",24,24,100,100,--,--
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Personal care activities ...,9.05,10.03,100,100,9.05,10.04

In [43]:
df.shape
df

,Activity,"Average hours per day, civilian population",Unnamed: 2,Average percent engaged in the activity per day,Unnamed: 4,Average hours per day for persons who engaged in the activity,Unnamed: 6
0,NaN,Weekdays,Weekends and holidays 2,Weekdays,Weekends and holidays 2,Weekdays,Weekends and holidays 2
1,Total,NaN,NaN,NaN,NaN,NaN,NaN
2,"Total, all activities",24,24,100,100,--,--
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Personal care activities ...,9.05,10.03,100,100,9.05,10.04
5,Sleeping ...,8.26,9.29,99.9,99.9,8.28,9.3
6,Grooming ...,0.68,0.65,81.6,73.1,0.83,0.88
7,Health-related self care ...,0.08,0.07,5.6,4.6,1.37,1.48
8,Personal activities ...,0.02,0.01,4,3.4,0.48,0.36
9,Travel related to personal care ...,0.01,0.02,1.5,2.1,0.72,0.96
10,Eating and drinking ...,1.16,1.32,92,90,1.26,1.47
11,Eating and drinking ...,1.05,1.15,92,89.9,1.15,1.28
12,Travel related to eating and drinking ...,0.1,0.16,24.2,28,0.42,0.58
13,Household activities,1.69,2.17,73.1,74.5,2.31,2.91
14,Housework,0.57,0.72,36.3,40.3,1.56,1.79
15,Food preparation and cleanup,0.52,0.57,51.7,48.8,1,1.16
16,Lawn and garden care,0.16,0.28,9.3,12.1,1.73,2.33
17,Household management,0.13,0.14,15.9,14.8,0.81,0.93
18,"Interior maintenance, repair, and decorati...",0.08,0.13,3.5,4.8,2.25,2.69
19,"Exterior maintenance, repair, and decorati...",0.06,0.1,2.9,4.2,1.96,2.34
20,Animals and pets,0.08,0.08,13.8,11.7,0.6,0.69
21,Vehicles,0.04,0.07,3.1,4.4,1.26,1.71
22,"Appliances, tools, and toys",0.02,0.02,1.4,1.6,1.17,1.24
23,Travel related to household activities,0.03,0.05,8.8,8.4,0.38,0.59
24,Purchasing goods and services,0.76,0.95,45.5,47.4,1.66,2.01
25,Consumer goods purchases,0.34,0.56,39.9,45.3,0.84,1.24
26,Grocery shopping,0.1,0.13,14.1,16.5,0.68,0.78
27,Professional and personal care services,0.11,0.05,11.3,5,1,0.99
28,Financial services and banking,0.01,0,4.8,1.9,0.25,0.23
29,Medical and care services,0.07,0.01,4.5,0.7,1.59,(3)
...,...,...,...,...,...,...,...
248,Participating in performance and c...,0.01,0.01,0.4,0.8,(3),(3)
249,"Attending meetings, conferences, a...",0.02,0.01,0.9,0.7,(3),(3)
250,Civic obligations and participation,0,0,0.2,0.1,(3),(3)
251,"Travel related to organizational, civic, a...",0.03,0.08,6.8,18.2,0.4,0.45
252,Leisure and sports,4.42,5.8,95.2,96.7,4.64,6
253,"Socializing, relaxing, and leisure",4.02,5.22,94.5,96,4.25,5.43
254,Socializing and communicating,0.66,1.22,41.9,49.1,1.57,2.49
255,Socializing and communicating (exc...,0.6,0.98,40.7,45.3,1.48,2.17
256,Attending or hosting social events,0.05,0.24,2.4,7.1,2.22,3.33
257,Relaxing and leisure,3.29,3.81,90.1,88.8,3.66,4.29
258,Watching TV,2.32,2.64,77.8,76.8,2.98,3.43
259,Arts and entertainment (other than spo...,0.07,0.18,2.7,7.3,2.47,2.47
260,"Sports, exercise, and recreation",0.23,0.27,17.7,15,1.28,1.76
261,"Participating in sports, exercise, and...",0.2,0.22,16.7,13.5,1.2,1.6
262,Attending sporting or recreational events,0.03,0.05,1.3,1.7,(3),2.86
263,Travel related to leisure and sports,0.17,0.31,31.6,41.1,0.54,0.76
264,"Telephone calls, mail, and e-mail ...",0.25,0.22,33.5,25.6,0.75,0.86
265,Telephone calls (to or from) ...,0.12,0.11,18.2,15.2,0.64,0.74
266,Household and personal messages,0.08,0.06,16.3,9.3,0.51,0.66
267,Household and personal mail and messages,0.04,0.03,11.6,5.6,0.37,0.56
268,Household and personal e-mail and mess...,0.04,0.03,6,4.2,0.67,0.73
269,Travel related to telephone calls,0,0,0.5,0.4,(3),(3)
270,"Other activities, not elsewhere classified",0.2,0.2,14.1,13.1,1.41,1.51
271,NaN,NaN,NaN,NaN,NaN,NaN,NaN
272,1 A primary activity refers to an individual's...,NaN,NaN,NaN,NaN,NaN,NaN
273,"2 Holidays are New Year's Day, Easter, Memoria...",NaN,NaN,NaN,NaN,NaN,NaN
274,"3 Data not shown where base is less than 800,000.",NaN,NaN,NaN,NaN,NaN,NaN
275,-- Not applicable,NaN,NaN,NaN,NaN,NaN,NaN
276,NOTE: Data refer to persons 15 and over. In ...,NaN,NaN,NaN,NaN,NaN,NaN
277,"Source: American Time Use Survey, Bureau of L...",NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#american time use survey has multiple sheets, one for each year
#lets make a list of sheet names
with pd.ExcelFile('path_to_file.xls') as xls:
    df1 = pd.read_excel(xls, 'Sheet1')
    df2 = pd.read_excel(xls, 'Sheet2')

In [44]:
dates = pd.date_range('20130101', periods=6)

In [46]:
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')